<div class="install_vm_content">

<table style="empty-cells: show;" cellpadding="0" cellspacing="0"><tr class="tr">
<!--installation steps -->
<td class="steps_td">
<table cellpadding="0" cellspacing="0" width="100%" id="installation_menu">
<tr class="menu_tr"><td align="center" colspan="2"><div class="step_inst_steps">Installation Steps</div></td></tr>
<tr class="menu_tr" onClick="install_vm.activate(1);"><td width="20" align="center"></td><td class="step_name">1. VM Details</td></tr>
<tr class="menu_tr" onClick="install_vm.activate(2);"><td width="20" align="center"></td><td class="step_name">2. OS Location</td></tr>
<tr class="menu_tr" onClick="install_vm.activate(3);"><td width="20" align="center"></td><td class="step_name">3. VM Disks</td></tr>
<tr class="menu_tr" onClick="install_vm.activate(4);"><td width="20" align="center"></td><td class="step_name">4. Interfaces</td></tr>
<tr class="menu_tr" onClick="install_vm.activate(5);"><td width="20" align="center"></td><td class="step_name">5. Finish</td></tr>
</table>

</td>


<td style="width:8px;"><!--some margin --></td>
<td class="content_td"><div id="vm_content_td"><!--step content --></div></td>
</tr></table>

</div>