<div class="configuration_done">
	Final Step
</div>

<div class="configuration_description">
	The basic configuration is done. Here you can see the creation process. After the creation process you can start your VM from the Cloud Pool. The process may take several minutes.
</div>

<div class="configuration_description">
	<!--<div class="configuration_option"><input type="checkbox" style="position:relative;top:2px;" checked />&nbsp;Start VM automatically</div>-->
	<table class="passed_steps" id="passed_steps">
		
	</table>
</div>

<div style="width:100%;clear:both;padding:5px;height:10px;"> 